<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mystify.ums.mapper.UmsOrganizationMapper">

	<!-- 开启二级缓存 (开启后  Mybatis-Plus的分页插件 第二次查询total 总条数为0) -->
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.mystify.ums.entity.UmsOrganization">
		<id column="id" property="id" />
		<result column="pid" property="pid" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="ctime" property="ctime" />
	</resultMap>

</mapper>
