/*create by lazy 2016.7.4*/
@charset "utf-8";

/*格式化标签*/
*{ -webkit-tap-highlight-color: transparent;}
a,button,img { outline: 0; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video, address{ margin: 0; padding:0;}
body { font-family:'Microsoft YaHei',"SimSun",arial; color:#484848; background: rgb(242,242,242); line-height:1;}
input[type=button], button { cursor:pointer; border:0 none;}
input, img { vertical-align:middle;}
img { border:0 none;}
a { text-decoration:none; color:inherit; border:0 none; background:url(about:blank);}
input, button, a, textarea { font-size:inherit; font-family:inherit; color:inherit;}
table { border-collapse: collapse; border-spacing: 0;}
ul, ol, li { list-style:none;}

/*自适应响应式样式*/
/*iphone5*/
@media screen and (min-width:320px){html{font-size:17px;}}
/*三星S系列 魅族等360宽安卓机*/
@media screen and (min-width:360px){html{font-size:19px;}}
/*iphone 6  iphone 6s*/
@media screen and (min-width:375px){html{font-size:20px;}}
/*iphone 6plus*/
@media screen and (min-width:414px){html{font-size:22px;}}
/*750*/
@media screen and (min-width:750px){html{font-size:40px;}}

/*主容器*/
.main { max-width:750px; min-width:320px;}

/*自定义类*/
.fl { float:left;}
.fr { float:right;}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; overflow:hidden;}
.clearfix { zoom:1;}
.ta-l { text-align:left;}
.ta-c { text-align:center;}
.ta-r { text-align:right;}
.pr { position:relative;}
.mb01{ margin-bottom: 1rem}

/*重复使用组件*/

/*底部固定栏*/
.NewIndexFooter{ padding-top: 5px;background: #f9689d;position: fixed; bottom: 0; right: 0;left:0;  width: 100%;height: 46px;}
.NewIndexFooter>div {width: 33.3%; float: left; text-align: center;}
.NewIndexFooter p {font-size: 11px;font-weight: normal;margin-top: 1.5px; color: #fff;}
.NewIndexFooter img {width: 28px;height: 28px;}
/*用于有底部栏的main*/
.FooterBlank{ padding-bottom:50px }
/*弹窗*/
.SignUpAlert { position: fixed;top: 50%;left: 50%; z-index: 1000;border-radius: 10px;width: 80%;overflow: hidden;-webkit-transform: translateX( -50% ) translateY( -50% );transform: translateX( -50% ) translateY( -50% );-webkit-box-sizing: border-box;box-sizing: border-box;}
.SignUpAlert .bg{background:url(../img/6-2.png)no-repeat; background-size: 100% 100%; padding: .4rem;}
.SignUpAlert .hd { height: 1.5rem; line-height: 1.5rem; text-align: left;font-size: .9rem; color: #fff;margin-left: 5px}
.SignUpAlert .bd {/*padding: 8px 0;*/font-size: 14px;}
#sendtophone{padding: 0 5px; height: 25px; color: #fff; font-size: .7rem; background: #6dcdf7;border-radius: 6px; width: 34%}
.SignUpAlert .close img{ width: 1.7rem; height: 1.7rem;  }
.SignUpAlert .btn{text-align: center; padding-bottom: 86px; margin-top: 65px; display: block; color: #f9689d; font-size: 18px}
.SignUpAlert .btn button{ width: 167px;color: #fff;font-size: 18px; line-height: 42px;background: #48b3e1;border-radius: 1em;}
.SignUpAlert .pcode {height: 25px;border-radius: 6px;font-size: 14px;color: #000;float: left; margin-right: 8px;width: 60%;border: none;}
.SignUpAlert .pcodeimg {width: 120px;height: 48px}
.SignUpAlert .atips {color: #fff;font-size: .65rem;padding:.25rem; line-height: 1.2em}
.SignUpAlert .fd {background:#fff;text-align: center; font-size: .9rem; color: #f9689d; height: 2.85rem; line-height: 2.85rem}
.overlay {position: fixed;z-index: 999;top: 0;bottom: 0;right: 0;left: 0;background: rgba(0, 0, 0, 0.5);}
.SignUpAlert .content{ line-height: 1.5rem;text-align: center;font-size: .9rem; color: #fff;margin-left: 5px; font-weight: 800; margin: .4rem 0 .8rem}