/*
@这是一个公共样式文件，几乎所有的页面都得调用
@非特殊情况不的随意修改此文件
@此文件包括页头和页尾及公用模块的样式
*/

/* ====================公共样式==================== */
html{overflow-x:hidden;}
body {
	font-size:12px;
	font-family:\5b8b\4f53;
	line-height:150%;
	margin:0;
	padding:0px;
	color:#818181;
	
}


div {
	padding:0;
}
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p {
	margin:0;
	padding:0;
	border:none;
	list-style-type:none;
}
h1, h2, h3, h4, h5, h6, input, select, textarea,td{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
#wrap {
	width:993px;
}
.blank {
	margin-bottom:10px;
}
.blank20 {
	margin-right:20px;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.tl {
	text-align:left;
}
.tc {
	text-align:center;
}
.tr {
	text-align:right;
}
.dis {
	display:block;
}
.inline {
	display:inline;
}
.none {
	display:none;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
*html .clearfix {
	height:1%;
}
*+html .clearfix {
	height:1%;
}
/*英文强制换行*/
.word {
	word-break:break-all;
}
/*全站按钮部分及修饰图标*/
acronym {
	display:inline-block;
	display:-moz-inline-stack;
*display:inline;
	zoom:1;
	vertical-align:middle;
	overflow:hidden;
}
img {
	border:0;
}
/*top*/
.layout {
	width:993px;
	margin:0 auto;
}



#top {
	float:left;
	width:100%;
}
.topLeft {
	width:7px;
	height:118px;
	float:left;
	background:url(../images/top1.jpg) no-repeat;
}
.topCenter {
	margin: 0px -7px;
	width: 100%;
	float: left;
}
.topCenter .inner {
	background:url(../images/top2.jpg) repeat-x;
	margin: 0 7px;
	height:118px;
}

.topCenter .inner .notice a:link{color:#ffffff; text-decoration:none;}
.topCenter .inner .notice a:visited{color:#ffffff; text-decoration:none;}
.topCenter .inner .notice a:hover{color:#ff0000; text-decoration:underline;}

.topRight {
	background:url(../images/top3.jpg) no-repeat;
	width:7px;
	height:118px;
	float: left;
}


.mypng img {
azimuth: expression(
this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "images/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true);
}

.logo {
	position:relative;
	left:25px;
	top:28px;
	width:262px;
	height:30px;
	display:block;
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
}

.notice {
	position:relative;
	left:25px;
	top:60px;
	width:680px;
	height:30px;
	color:#b7e3f4;
	font-family:Arial, Helvetica, sans-serif;
}
.notice img{ position:relative; float:none !important;float:left; margin-bottom:-2px!important;margin-bottom:-3px;}
.english {
	float:right;
	display:block;
	width:265px;
	height:29px;
	position:relative;
	top:59px;
	background-image: url(../images/english.jpg);
	background-repeat: no-repeat;
}
/*left*/
#main {
	width:100%;
	float:left;
	background-color:#FFF;
}

.leftimage{ margin-bottom:10px;}
.left1 {
	width:210px;
	height:34px;
	float:left;
	background-image: url(../images/left1.jpg);
	background-repeat: no-repeat;
	margin-bottom:20px;
}
.left2 {
	bottom:0px;
	background-image: url(../images/bottom1.jpg);
	background-repeat: no-repeat;
	width:210px;
	height:52px;
	display:block;
	float:left;
}
.menu H1 {
	color:#5d6481;
	font-weight:bold;
	background: url(../images/sjx.gif) no-repeat 0px 5px;
	text-indent:10px;
	display:block;
	cursor:pointer;
}
.menu {
	padding-left:30px;
	float: left!important;
	float:none;
}
.leftmenu {
	font-size:12px;
	padding-left:12px;
	padding-bottom:15px;
	overflow:hidden;
	line-height:20px;
}
.leftmenu li, .leftmenu li a {
	color:#757c98;
	text-decoration:none;
}
.leftmenu li a:hover {
	color:#F60;
	text-decoration:underline;
}
.leftbj{background:url(../images/leftbj.jpg) repeat-y;}
.copyright {
	width:993px;
	height:53px;
	background: url(../images/copyright.jpg) no-repeat;
	color:#9298b1;
	text-align:center;
	line-height:53px;
	float:left;
	font-size:12px;
}
/*--right--*/
.content1 {
	background: url(../images/title_bj.jpg) no-repeat;
	width:761px;
	margin:0px auto;
	height:32px;
}
.content971 {
	background: url(../images/title_bj2.jpg) no-repeat;
	width:971px;
	margin:15px auto 0px;
	height:32px;
}
.content971B {
	width:100%;
	border-left:1px solid #e3e4e9;
	border-right:1px solid #e3e4e9;
	padding:20px;
}

.content971C {
	width:971px;
	margin:0px auto 30px;
}
.listtitle1{ background: url(../images/list_03.jpg) repeat-x; height:25px; line-height:25px; padding-left:15px; color:#035e8d; font-size:14px; font-weight:bold; border-bottom:1px solid #6c92ad;}
.listcontent{ line-height:20px; float:left;  overflow-y:auto; height:200px; width:100%}

.listcontent li {font-size:12px; color:#000000; text-decoration:none; height:28px; width:290px; float:left;
font: 12px/26px Arial, Helvetica, sans-serif;display: block;cursor:pointer;padding-left:5px;}
.listcontent li:hover,.listcontent li.hover {background: #deefff;}


.listtitle2{padding-left:15px; color:#035e8d; font-size:14px; font-weight:bold;}
.weizhi{ width:170px; height:320px; float: left; margin-right:5px; border:1px solid #6c92ad;}
.weizhi2{ width:170px; height:320px; float: left; border:1px solid #6c92ad;}

.weizhititle{background: url(../images/list_03.jpg) repeat-x; height:25px; line-height:25px; border-bottom:1px solid #6c92ad;color:#035e8d; text-align:center; }
.weizhilist{ line-height:26px; color:#000; padding:8px; overflow-y:auto; height:270px;}
.weizhilist li {font-size:12px; color:#000000; text-decoration:none;display: block;cursor:pointer; height:26px; padding-left:5px;}
.weizhilist li:hover,.weizhilist li.hover {background: #deefff;}

.titlecontent{
	float:left;
	padding-left:25px;
	width:185px;
	font-size:14px; 
	color:#fff;
	line-height:32px;
	font-weight:bold;
	text-align:left;
	}
.content2 {
	width:729px;
	border-left:1px solid #e3e4e9;
	border-right:1px solid #e3e4e9;
	padding:15px;
	min-height:10px;
	margin:0px auto;
}
.content4 {
	width:719px;
	border-left:1px solid #e3e4e9;
	border-right:1px solid #e3e4e9;
	padding:20px;
	min-height: 200px;
	margin:0px auto;
}
.content4 td{ color:#5d6481}
.tableborder{	
border-left:1px solid #e3e4e9;
border-right:1px solid #e3e4e9;
}
.content3 {
	width:761px;
	margin:0px auto 30px;
}
.searchtable td {
	color:#535455;
}
.tbwaibiao {
	background:#edecf4;
	margin-bottom:15px;
}
.searchtable input {
	border:1px solid #c5c4cb;
	height:19px;
	color:#586674;
	line-height:19px;
}
.selectcss {
	width:79px;
	height:19px;
	border:1px solid #c5c4cb;
	background:#FFF;
	color:#586674
}
.submitcss {
	width:67px;
	height:24px;
	border:0;
}
/*-数据表样式-*/
.tablecss1 {
	background:url(../images/table_bj.jpg) repeat-x;	
	height:29px;
	border-top:1px solid #7eb77e;
	border-left:1px solid #7eb77e;
	border-bottom:1px solid #7eb77e;
	border-right:1px solid #add1ad;
	color:#376337;
	border-collapse:collapse;
}
.tablecss2 {
	background:url(../images/table_bj.jpg) repeat-x;
	height:29px;
	border-top:1px solid #7eb77e;
	border-left:0px;
	border-bottom:1px solid #7eb77e;
	border-right:1px solid #add1ad;
	color:#376337;
	border-collapse:collapse;
}
.tablecss3 {
	background:url(../images/table_bj.jpg) repeat-x;
	height:29px;
	border-top:1px solid #7eb77e;
	border-left:0px;
	border-bottom:1px solid #7eb77e;
	border-right:1px solid #7eb77e;
	color:#376337;
	border-collapse:collapse;
}
.tablecss4 {
	border-left:1px solid #d0d7e5;
	border-right:1px solid #d0d7e5;
	border-bottom:1px solid #d0d7e5;
	border-top:0px;
	color:#7c848c;
	height:30px;
	cursor:pointer;
	border-collapse:collapse;
}
.tablecss5 {
	border-left:0px solid #d0d7e5;
	border-right:1px solid #d0d7e5;
	border-bottom:1px solid #d0d7e5;
	border-top:0px;
	color:#7c848c;
	padding-left:12px;
	text-align:left;
	cursor:pointer;
	border-collapse:collapse;
}

.tablecss5 a:link{color:#7c848c; text-decoration:none;}
.tablecss5 a:visited{color:#7c848c;text-decoration:none;}
.tablecss5 a:hover{color:#ff0000;text-decoration:underline;}

.icon_user{ float:left; width:164px; height:50px; margin:10px 30px 0px 0px;}

/*三个按钮样式*/
.button_text a{ line-height:45px; color:#FFF; font-size:14px; font-weight:bold; text-align:center; text-decoration:none; width:164px; height:50px; display:block;}
.button_yellow a{ background:url(../images/icon_add_on.jpg) no-repeat;}
.button_yellow a:hover{ background:url(../images/icon_add_off.jpg) no-repeat; }
.button_green a{ background:url(../images/icon_modify_on.jpg) no-repeat;}
.button_green a:hover{ background:url(../images/icon_modify_off.jpg) no-repeat; }
.button_blue a{ background:url(../images/icon_del_on.jpg) no-repeat;}
.button_blue a:hover{ background:url(../images/icon_del_off.jpg) no-repeat; }

/*用户增加样式*/

.group_input{ background:#f4f9fc; border:1px solid #8aa4b9; }
.width140{ width:289px; height:20px; line-height:20px; padding:0px 5px 0px 5px;}
.width289{ width:289px; height:50px; overflow-y:auto;resize:none;padding:5px;}
.width85{ width:100px; height:20px; line-height:20px; }
.redstar{ color:#F00; font-weight:bold; font-size:12px; margin-right:5px; line-height:10px;}

.width150{ width:150px; height:20px; line-height:20px; padding:0px 5px 0px 5px;}
.width150_backup{ width:300px; height:20px; line-height:20px; padding:0px 5px 0px 5px;}
.width300{ width:508px; height:20px; line-height:20px; padding:0px 5px 0px 5px;}
.width400{ width:300px; height:80px; overflow-y:auto;resize:none;padding:5px;}

.newsviewlist{ line-height:25px; color:#515978; padding:10px; font-size:12px;}
.casetitle{ font-weight:bold; font-size:14px; color:#515978;}
.b_bj{background:url(../images/b_bj.jpg); font-size:12px; color:#7f7f7f; }
.setuparea300,.setuparea100{margin-top:3px;float:right; width:250px;}
.setupcss a{ background:url(../images/setup_03.jpg) no-repeat; width:101px; height:26px; float:left; display:block; cursor:pointer; color:#FFF; text-decoration:none; font-size:12px; text-align:center; line-height:26px; margin-right:20px;}
.setupcss a:hover{ background:url(../images/setup_06.jpg) no-repeat; width:101px; height:26px; float:left; display:block; cursor:pointer;color:#FFF; text-decoration:none; font-size:12px;}

/*设备显示*/
.msgDivcss {
   	z-index:10001;
    width:400px;
	min-height:100px!important;
    background:white;
    border:#336699 3px solid;
    position:absolute;
    left:50%;
    top:20%;
    font-size:12px;
    margin-left:-300px;
    display: none;
}

.bgDivcss {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right:0px;
    background-color: #777;
	opacity:0.4;
    filter:progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=40,finishOpacity=40)
    
}
.msgShutcss{ display:block; cursor:pointer;}
.msgDetail td{ color:#757c98;}
.msgDetail .shebeiinfo{ padding-left:10px; color:#FFF; font-size:12px; font-weight:bold;}

.Wdate{width:165px;}
.W165{width:135px;}
.pagecss{color:#1e4d1e;padding-left:130px;}
.pageleft,.pageright{float:left; height:20px;}
.pageright a:link{text-decoration:none;background:#009c00; height:20px; color:#ffffff; text-align:center; width:48px; float:left; margin-left:8px;}
.pageright a:visited{text-decoration:none;background:#009c00; height:20px; color:#ffffff; text-align:center; width:48px;  float:left;margin-left:8px;}
.pageright a:hover{text-decoration:none;background:#ff811c; height:20px; color:#ffffff; text-align:center; width:48px; float:left;margin-left:8px;}

.logtitle{ color:#FFF; padding-left:30px; font-weight:bold; font-size:14px;}
.logtitletime{ color:#FFF; padding-right:10px; }
.logcontent{ padding:8px; line-height:23px;}
.logcss{margin-bottom:10px;}
.logcss td{ color:#527754; }
.contentinfo{margin-bottom:5px; border-bottom:1px dashed #CCC; display:block;}
.tableborder{border:1px solid #bbdde5; margin-top:15px}
.tableboder td{ padding-left:8px; color:#192e32; height:30px;}

.buttoncssBig li a{ background:url(../images/icon/button_on.jpg); width:91px; height:29px; float:left;line-height:29px; display:block; text-align:center;text-decoration:none; color:#444444; margin-top:0px; margin-right:14px;margin-left:0px; margin-bottom:15px;}
.buttoncssBig li a:hover{ background:url(../images/icon/button_off.jpg);}
.buttoncssBig li img{ margin-top:6px;margin-right:-10px; float:left; margin-left:10px;}

.smallbuttoncss li a{ background:url(../images/icon/Sbutton_on.jpg); width:81px; height:29px; float:left;line-height:29px; display:block; text-align:center;text-decoration:none; color:#444444; margin-top:0px; margin-right:4px;margin-left:4px; margin-bottom:15px;}
.smallbuttoncss li a:hover{ background:url(../images/icon/Sbutton_off.jpg);}
.smallbuttoncss li img{ margin-top:6px;float:left; margin-left:5px;}

.details{background:url(../images/xxbj.jpg) repeat-x; border:1px solid #adb9c2;}
.details1{ border-bottom:0px; }
.details_text{font-weight:bold; color:#535353;}
.detailborder{ border-left:1px solid #cccccc;border-right:1px solid #cccccc;border-bottom:1px solid #cccccc; padding:10px; margin-bottom:20px;}

.errornotic{ float:right; height:33px; color:#FFF; line-height:33px; padding-right:15px; background:#09C;}

.iframeleft{ margin-left:0px;}
.xialamenu{float:right; margin-top: 10px;}
.xialamenu select{border:1px solid #b4b4b4; width:155px; height:22px; padding-left:10px; font-size:12px; color:#000000}

.noticecss{ color:#cc0000; font-size:12px; border:1px solid #ceb70d; background:url(../images/noticenav.jpg) repeat-x; height:23px; line-height:23px; padding-left:25px;}
.noticecss_error{ color:#ffffff; font-size:12px; border:1px solid #bc1300; background:url(../images/navbj2.jpg) repeat-x; height:23px; line-height:23px; padding-left:25px;}
.closeicon{ float:right; margin-right:10px; width:8px; height:8px; cursor:pointer; margin-top:5px;}
.noticearea{ width:761px; height:25px; margin:4px auto; }

.paddingleft20{ padding-left:20px;}
