@charset "utf-8";
<!--
body {
	background-color: #ffffff;
	padding:10px;
   }
-->

#selectedDevice div div{
	width:120px;	float:left;
}
.fmenu{
	width:100%;height:30px;background-color:#FAF0E6;font-size:13px;font-weight:bold;
}
.close_btn{
	width:16px;height:16px;background:url('../images/close_btn.jpg')  no-repeat scroll transparent;display:inline-block;cursor:pointer;
}
a.close {
	height:18px;
    background: url("../images/lay_ico.gif") no-repeat scroll right -45px transparent;
    padding: 2px 20px 1px 4px;
}
a.close:hover {
    background-position: right -77px;
}
.device_float{
	float:left;width:220px;height:20px;
}    
.loading{
	background:url("../images/loading2.gif") no-repeat center;
}         
.device_version{
	color:#A9A9A9;
}       