@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-05-14 09:31:00
 * @version $Id$
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video,input,textarea {
	margin:0;padding:0;
}
body{
	font-family: 'Microsoft Yahei','Simsun',Verdana,Helvetica,sans-serif;
	line-height: 1.5em;
	color:#101010;
	background:#fff;
	-webkit-text-size-adjust: none; 
	min-width:320px;
	max-width:640px;
	margin:0  auto;
	box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6{ 	font-size: 100%; }
ol,ul{ 	list-style:none; }
blockquote,q{ 	quotes:none; }
table{	border-collapse:collapse;	border-spacing:0;}
a{ 	text-decoration: none; }
img{ 
	border:none;
	max-width: 100%;
	-ms-interpolation-mode:bicubic; 
}
input,select,textarea,button{ 
	font-size: 100%;
	vertical-align: middle;
	outline:none;
	border: none;
}
textarea{ 	resize:none;  }
button,a.btn , input,input[type="button"], input[type="reset"], input[type="submit"] ,input[type="date"],input[type="number"],input[type="tel"], textarea {
	cursor:pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	-webkit-border-radius: none;
}
input:focus:-moz-placeholder, input:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder, textarea:focus::-webkit-input-placeholder, {
	color:transparent;  
}
button::-moz-focus-inner, input::-moz-focus-inner { 	padding:0; border:0 }
.clearfix:after{	content:'';	display: table;	clear:both;}
.fl{ 	float: left;  }
.fr{	float: right; }
.hide{	display: none ; }
.show{ 	display: block ; }
.ellipsis{               
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.break{                    
	word-break:break-all;  
	word-wrap:break-word;  
}
em{ font-style:normal; }


html{ font-size: 62.5%; height:100%;  }
body{
    font-size: 1.4rem; 
    line-height: 1.5em;
    width: 100%;
    min-height: 100%;
    position: relative;
}
img{
    display: block;
    width: 100%;
}
a,a:hover{
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-decoration none;
}
.tar{ text-align: right; }
.tac{ text-align: center; }
html{
	height:100%;
}
.ovhidden{
	overflow-y: hidden;
}





/* btn
----------------------------------*/
.btn{ outline:none; display:inline-block !important; height:32px; line-height:30px; padding:0 16px; color:#fff; font-size:1.6rem; text-align:center; vertical-align:middle; background:-webkit-linear-gradient(top, #2bb2a3, #2bb2a3); border:none; border-radius:4px; box-sizing:border-box;}
.btn-sm{height:24px; line-height:22px; color:#fff; font-size:1.2rem; padding:0 16px; background:-webkit-linear-gradient(top, #2bb2a3, #2bb2a3);}
.btn-lg{width:100%; height:38px; line-height:37px; color:#fff; text-align:center; background:#a1d36b; border-radius: 8px;}

/* alert
----------------------------------*/
.alert{position:fixed; top:50%;left:50%; z-index:1000; border-radius:12px; width:80%; 
    background-color:#fff;  overflow: hidden;padding:20px;-webkit-transform:translateX( -50% ) translateY( -50% );transform:translateX( -50% ) translateY( -50% );
    -webkit-box-sizing:border-box;  box-sizing:border-box; }
.alert .hd{height:40px; line-height:40px; text-align: center;font-size:18px;}
.alert .bd{padding:8px;font-size:14px;}
.alert .bd p{font-size:14px; padding:0; line-height: 1.5em;}
.alert .fd{padding:8px 0; text-align:center;}

/* Overlay
----------------------------------*/
.overlay{position:fixed; z-index:999; top:0; bottom:0; right:0; left:0; background:rgba(0, 0, 0, 0.5);}
.overlay.transparent{background:rgba(0, 0, 0, 0);}



/*  loader */
.loading{
	position:fixed;
	z-index:1000;
	top:50%;
	left:50%;
	width: 225px;
	height: 150px;
	background:#fff;
	border-radius:12px;
	-webkit-transform:translateX( -50% ) translateY( -50% );
	transform: translateX( -50% ) translateY( -50% );
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding-top: 20px;

}
.loader {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 25%;
	max-width: 25%;
	height: 80px;
	align-items: center;
	justify-content: center;
	position: relative;
}
.loader-inner{
	position: relative;
	width: 60px;
	height: 60px;
	left:55px;
	top:40px;
}
.loading .content{
	position: absolute;
	width: 120px ;
	left:68px;
	margin-left: 25px;
	top:45%;
	text-align: center;
	color:#f45500;
	font-size:14px;
	line-height:32px;
	height:32px;
}

@-webkit-keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } 
}

@keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } 
}

.line-spin-fade-loader {
	position: relative; }
.line-spin-fade-loader > div:nth-child(1) {
	top: 20px;
	left: 0;
	-webkit-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
	        animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(2) {
	top: 13.63636px;
	left: 13.63636px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	-webkit-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
	        animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(3) {
	top: 0;
	left: 20px;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
	        animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(4) {
	top: -13.63636px;
	left: 13.63636px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
	        animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out; 
	}
	.line-spin-fade-loader > div:nth-child(5) {
	top: -20px;
	left: 0;
	-webkit-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
	        animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(6) {
	top: -13.63636px;
	left: -13.63636px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	-webkit-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
	        animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(7) {
	top: 0;
	left: -20px;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
	        animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(8) {
	top: 13.63636px;
	left: -13.63636px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
	        animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out; 
}
.line-spin-fade-loader > div {
	background-color: #f45500;
	width: 4px;
	height: 35px;
	border-radius: 2px;
	margin: 2px;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	position: absolute;
	width: 5px;
	height: 15px; 
}


.tips{
	position:fixed;
	top:50%;
	left:10%;
	z-index:1000;
	width:70%;
	padding:9px 5%;
	margin:0 auto;
	color:#fff;
	line-height:1.5;
	background:rgba(0, 0, 0, 0.8);
	opacity:0;
	border-radius:4px;
	font-size:15px;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	-webkit-transform:translateY( -50% );
	transform:translateY( -50% ); 
}
/**



